# Git
.git/
.gitignore

# 编译产物
roco-api
roco-api.exe
__debug_bin.exe

# 本地调试文件
page_raw.html
page_raw.txt

# IDE
.vscode/
.idea/

# 系统
.DS_Store
Thumbs.db

# Docker 文件（构建时不需包含）
Dockerfile
docker-compose.yaml
.dockerignore
README.md
